<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappySnail</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!-- Header -->
{% include 'com/header.html' %}


<div class="container-fluid text-center" id="large-menu-buttons">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-lg btn-outline-secondary">Option 1</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-lg btn-outline-secondary">Option2 </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-lg btn-outline-secondary">Option Yo Mama</button>
        </div>
      </div>
</div>
  
<!-- Footer -->
{% include 'com/footer.html' %}

</body>

</html>